/*main dashboard*/
body{
  background-color: rgb(240, 240, 243);

}
.logo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /*align-self: stretch;*/
  border-radius: 5rem;
  padding: 8px;
  background-color: blue;
  margin-left: 0%;
  /*margin-top: -2%;*/
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font: 600 32px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 20px;
}

.logo-text .highlight {
  color: #EA8C00;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar{
  position: fixed;
  left: 0.5%;
  top: 6.5%;
  height: 85vh;
  width: 5rem;
  border-radius: 1rem ;
  background-color: #EA8C00;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

.menu-item button{
  padding: 0.75rem;
  border-radius: 1rem;
  border: none;
  transition: background-color 0.2s, color 0.2s;
  color: #ffffff; 
  background-color: #EA8C00;
  height: 11vh;
  width: 8vh;
  cursor: pointer;
  font-size: 3vh;
}

.menu-item button:hover {
  background-color: #fb923c; /* Orange-400 */
}

.menu-item.active {
  background-color: #ffffff; /* White */
  color: #f97316; /* Orange-500 */
}



.room-selector-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-left: 18vh;
  margin-top: -1.3vh;
  border-radius: 1.2em;
  background-color: rgb(240, 240, 243);
}

.room-selector-container button{
  border-radius: 10vh;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
  background-color: #f3f4f6;
  padding: 0.5rem 1rem;
}

.arrow-button{
  padding: 0.5rem;
  background-color: #f3f4f6; /* Gray-100 */
  cursor: pointer;
  transition: background-color 0.3s;
}

.room-selector-container button:hover,
.arrow-button:hover{
  background-color: #d9dbde;
}

.Header-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
  margin-left: 8.9rem;
  cursor: pointer;
}

h1{
  margin-top: -1vh;
}


#bell-btn{
  background-color: #bfdbfe; /* Blue-100 */
  margin-right: 1rem;
  color: #3b82f6;
  border: none;
  border-radius: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
}

#bell-btn:hover{
  background-color: #93c5fd;
  color: white;
}

#edit-btn{
  background-color: #fecaca; /* Red-100 */
  margin-right: 1rem;
  color: #ef4444;
  border: none;
  border-radius: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
}

#edit-btn:hover{
  background-color: #f87171;
  color: white;
}

#info-btn{
  background-color: #e9d5ff; /* Purple-100 */
  margin-right: 1rem;
  color: #a855f7;
  border: none;
  border-radius: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
}

#info-btn:hover{
  background-color: #d8b4fe;
  color: white;
}


.temp-container{
  border: none;
  width: 41rem;
  height: 20vh;
  margin-left: 20vh;
  margin-top: 3vh;
  border-radius: 2vh;
  background-color: white;

}

.temp-container h2{
  padding: 0.5rem;
  font-size: 1.3rem;
}


.analytics-container{
  border: none;
  border-radius: 2vh;
  background-color: white;
  width: 41rem;
  height: 50vh;
  margin-left: 108vh;
  margin-top: -22.5vh ;
}

.analytics-container h2,
.family-container h2{
  padding: 0.5rem;
  font-size: 1.2rem;
}

.container-AH{
  display: flex;
  flex-direction: row;
  margin-top: -27vh;
}

.air-container{
  border: none;
  width: 20rem;
  height: 27vh;
  border-radius: 2vh;
  background-color: white;
  margin-left: 20vh;
  margin-right: 3vh;
}

.humidity-container{
  width: 20rem;
  height: 27vh;
  border: none;
  border-radius: 2vh;
  background-color: white;
}

.device-container h2,
.device-container2 h2,
.humidity-container h2,
.air-container h2{
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

.control-devices{
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}

.device-container{
  border: none;
  width: 20rem;
  height: 27vh;
  border-radius: 2vh;
  background-color: white;
  margin-left: 20vh;
  margin-right: 3vh;
}

.device-container2{
  width: 20rem;
  height: 27vh;
  border: none;
  border-radius: 2vh;
  background-color: white;
}

.content{
  display: flex;
  flex-direction: row;
}

.content button{
  margin-left: 18vh;
  border-radius: 2vh;
  border: none;
  padding: 0.5rem;
  font-size: 15px;
  height: 4vh;
  align-items: center;
  margin-top: 2vh;
  margin-right: 1vh;
  cursor: pointer;
}

.content button:hover,
.btn-container button:hover{
  color: white;
  background-color: #d9dbde;
}

/*.family-container{
  border: none;
  width: 41rem;
  height: vh;
  margin-left: 108vh;
  margin-top: -29vh;
  border-radius: 2vh;
  background-color: white;
}



.btn-container button{
  width: 7rem;
  border-radius: 2vh;
  margin-top: 4vh;
  margin-bottom: 5px;
  border: none;
  padding: 0.5rem;
  margin-left: 69vh;
  cursor: pointer;
}*/

/*#Home-btn button:hover,
#suggestions button:hover,
#settings-button button:hover,
.sidebar:hover{
  background-color: BLUE;
  color: white;
}

#Home-btn button,
#suggestions button{
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  border: none;
  align-items: center;
  font-size: 24px; 
  transition: background-color 0.3s ease, color 0.3s ease;
  justify-content: center; 
  cursor: pointer;
}

#settings-button button{
  margin-top: 125px;
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  border: none;
  align-items: center;
  font-size: 24px; 
  transition: background-color 0.3s ease, color 0.3s ease;
  justify-content: center; 
  cursor: pointer;
}


.Family-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  padding: 20px;
  border: solid blue; /* Add blue border 
  position: fixed;
  bottom: 20px;  /* Position the container at the bottom 
  right: 0.6%;   /* Position the container to the right 
  top: 65.5%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 43.5%;
  height: 26.3%;
}*/

/*.Heading {
  text-align: center; 
  width: 100%;
  margin-bottom: 0px;
  margin-top: -20px; 
  font-size: 24px;
}

.view-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px; 
  margin-right: -11px;
  background-color: blue;
  border-radius: 20px;
  padding: 6px;
  cursor: pointer;
  
}

.view-btn button {
  font-size: 14px;
  color: white;
  background-color: blue;
  border: transparent;
  cursor: pointer;
}


.Energy-Container {
  position: absolute;   /* Fix the container at the top-right corner 
  top: 7px;         /* Space from the top 
  right: 2px;       /* Space from the right 
  padding: 20px;     
  background-color: white; /* Background color 
  border: solid blue;  /* Optional: Add a border 
  border-radius: 20px;      /* Optional: Rounded corners 
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: Shadow 
  z-index: 1000;     /* Ensure it stays above other content 
  height: 45.65%;
  width: 43.5%;
  margin-top: 95px;
  margin-right: 0.5%
}

.energy {
  font-size: 24px;
  margin-bottom: 2px;
  font-weight: bold; 
}

.consumed {
  font-size: 25px; 
  font-weight: bold; 
}

.Subheading h4 {
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  
}

.total-container{
  position: fix;
  border-radius: 20px;
  border: solid;
  border-color: rgb(108, 108, 108);
  height: 29%;
  width: 55%;
  margin-left: -10px;
  box-sizing: border-box;
} 

.total-container p{
  text-align: center;
  margin-top: 35px;
}


.analytics-container{
  position: fix;
  border-radius: 20px;
  border: solid;
  border-color: rgb(108, 108, 108);
  height: 100px;
  width: 47%;
  margin-left: 54%;
  margin-top: -105px;
  align-content: top;
  margin-right: 20px;
  
}

.analytics-container button{
 margin-top: 70px;
 font-size: 10px;
 font-weight: bold;
 margin-left: 70px;
 background-color: white;
 color: black;
 padding: 8px 16px;
 border: none;
 cursor: pointer;
 text-align: center;

}

.analytics-container button:hover{
  text-decoration: underline;
}
.rooms-container{
  height: 160px;
  width: 55%;
  margin-top: 10px;
  margin-left: -10px;
  position: fix;
  border-radius: 20px;
  border: solid;
  border-color: rgb(108, 108, 108);
  box-sizing: border-box;
} 

.rooms-container p{
  text-align: center;
  
}

.usage-container {
  height: 159px;
  width: 48%;
  border-radius: 20px;
  border: solid;
  border-color: rgb(108, 108, 108);
  margin-top: -160px;
  margin-bottom: 10px;
  margin-left: 54%;
  box-sizing: border-box;

}

.usage-container button{
  border: none;
  background-color: white;
  color: blue;
  font-size: 10px;
  margin-left: 80px;
  cursor: pointer;
}

.usage-container button:hover{
  text-decoration: underline;
}


.view-more-btn button {
  text-align: center;
  padding-top: 3px;
  padding-bottom: px;
  padding-right: 10px;
  padding-left: 10px;
  /*padding: 8px 13px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 209px;
  margin-top: -4px;
  margin-bottom: 10px;
  line-height: 1.3;
  white-space: pre-wrap;
  box-sizing: border-box;
}

.view-more-btn button:hover{
  text-decoration: underline;
}


.control-device-container{
  width: 685px;
  height: 400px;
  border: solid;
  border-color: blue;
  border-radius: 20px;
  margin-left: 7.5%;
  margin-top: -660px;
  box-sizing: border-box;
}

#turn-on-btn button,
.control-device-container #turn-on button{
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  border: 2px solid blue;
  width: 30px; 
  height: 30px;
  margin-left: 93%;
  margin-top: 1.2%;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: blue;
  background-color: white;
  align-items: center;
  cursor: pointer;
}


.AirQuality #turn-on-btn button:hover,
.control-device-container #turn-on button:hover{
  color: white;
  background-color: blue;
}



.AirQuality{
  display: flex;
  flex-direction: row;
  height: 32%;
  width: 685px;
  border: solid;
  border-color: blue;
  border-radius: 20px;
  margin-top: 0.5%;
  margin-left: 7.5%;
  position: fixed;
  display: block;
  box-sizing: border-box;
}

.bar-container{
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: blue;
  border-radius: 50px;
  margin-top: -450px;
  margin-left: 7.5%;
  height: 40px;
  width: 78%;
}

.arrow-button{
  display: flex;
  margin-left: 97%;
  align-items: center;
  border: none;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
}


.Header {
  background-color: white;     /* Optional background color 
  margin-top: -6.5%;
  margin-left: 8%;
}




.Header-btns {
  display: flex;
  gap: 25px;
  margin-top: -45px;
  margin-left: 87%;
  cursor: pointer;
  font-size: 18px;  
  
}

#btns-right{
  border: transparent;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  background-color: blue;
  cursor: pointer;
  font-size: 20px;;
}

#btns-right:hover {
  color: white;                /* Optional hover effect 
}*/

.main-headings{
  display: flex;
  flex-direction: row;
  /*gap: 30%;
  margin-left: 10%;
  margin-top: -49.5%;
  
}

.main-headings button{
 background-color: blue;
 border-radius: 25px;
 height: 42px;
 align-items: center;
 border: none;
 font-size: 15px;
 font-weight: bold;
 cursor: pointer;
 color: white;
 transition: background-color 0.3s ease, color 0.3s ease;
}

.main-headings button:hover{
  background-color: rgb(86, 86, 253);
}

.boxes{
  display: flex;
  flex-direction: row;
  /*gap: 12%;*/
  margin-left: 11%;
}

.energy-box{
  border: solid lightgray;
  border-radius: 25px;
  height: 680px;
  width: 600px;
  margin-top: 20px;
  margin-left: -4.5%;
  overflow: hidden;
  overflow-y: auto;
}

.auto-box{
  border: solid lightgray;
  border-radius: 25px;
  height: 680px;
  width: 600px;
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.security-box{
  border: solid lightgray;
  border-radius: 25px;
  height: 680px;
  width: 600px;
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;
  overflow-y: auto;
}

#energy-saving{
  margin-left: 5%;
  width: 350px;
  margin-left: 10px;
}

#automation{
  margin-left: 9%;
  width: 350px;
  
}

#security{
  margin-left: 9%;
  width: 350px;
  
}

.sliding-boxes{
  margin-top: 140%;
}

.suggestions-boxes2{
  display: flex;
  flex-direction: column;
  border: solid 2px lightgray;
  margin-top: 1%;
  margin-left: 6px;
  margin-right: 6px;
  height: 200px;
  width: 400px;
  background-color: lightgray;
  border-radius: 30px;
}

.suggestions-boxes3{
  display: flex;
  flex-direction: column;
  border: solid 2px lightgray;
  margin-top: 1%;
  margin-left: 6px;
  margin-right: 6px;
  height: 200px;
  width: 400px;
  background-color: lightgray;
  border-radius: 30px;
}
.suggestions-boxes{
  display: flex;
  flex-direction: column;
  border: solid 2px lightgray;
  margin-top: -140%;
  margin-left: 6px;
  margin-right: 6px;
  height: 200px;
  width: 400px;
  background-color: lightgray;
  border-radius: 30px;
}

.suggestions-boxes2 button{
  width: 10%;
  border-radius: 20px;
  background-color: blue;
  border: none;
  
}